<!-- HEADER -->
<table style="width: 100% !important;" bgcolor="#FFFFFF">
    <tbody>
        <tr>
            <td> </td>
            <td style="display: block!important; max-width: 600px!important; margin: 0 auto!important; clear: both!important;">
                <div style="padding:0 8px !important; max-width: 600px !important; margin: 0 auto; display: block; color: #000000 !important;">
                    <table bgcolor="#FFFFFF">
                        <tbody>
                            <tr>
                                <td style="padding: 0 !important; width: 320px; height: 70px;"><img src="https://admin.firelogin.com/uploads/logo.png" width="100px" height="auto" /></td>
                                <td style="padding: 0 !important; width: 244px; height: 70px;" align="right">
                                    <strong style="font-size: 12pt; margin: 0; padding: 0;">ĐỘI NGŨ HỖ TRỢ</strong>
                                    <br /> 0855-458-007
                                    <br /> na-ts@na.com.vn
                                </td>s
                            </tr>
                        </tbody>
                    </table>
                </div>
            </td>
            <td> </td>
        </tr>
    </tbody>
</table>
<!-- /HEADER -->
<!-- BODY -->
<table style="width: 100% !important; font-size:16px; font-style: italic">
    <tbody>
        <tr>
            <td></td>
            <td style="display: block!important; max-width: 600px!important; margin: 0 auto!important; clear: both!important;" bgcolor="#FFFFFF">
                <div style="margin: 0 15px !important; width: 95% !important; border-top: 3px solid #57ac33 !important; height: 4px !important; border-bottom: 1px solid #57ac33 !important;"> </div>
                <div style="padding:0 15px !important; max-width: 600px !important; margin: 0 auto; display: block; ">
                    <table style="width: 100% !important;font-style: italic;">
                        <tbody>
                            <tr>
                                <td style="text-align:justify">
                                    <p style="margin: 15px 0!important; font-weight: normal; line-height: 1.6 !important;  color: #000000 !important;">
                                        Xin chào <b>{AccountName}</b>,
                                    </p>
                                    <p style="margin: 15px 0!important; font-weight: normal; line-height: 1.6 !important;  color: #000000 !important;">
                                        {Body}

                                    </p>


                                    <p><span style="font-weight: 400; color: black">Mọi thắc mắc trong quá trình sử dụng vui lòng liên hệ với chúng tôi:</span></p>
                                    <ul>
                                        <li style="font-weight: 400; color: black"><span style="font-weight: 400;">Hotline: 0855-458-007</span></li>
                                        <li style="font-weight: 400; color: black"><span style="font-weight: 400;">Email: <a href="mailto:na-ts@na.com.vn" target="_blank" title="Send to na-ts@na.com.vn">na-ts@na.com.vn</a></span></li>
                                    </ul>

                                    <p style="font-weight: normal; line-height: 1.6 !important;  color: #000000 !important;">
                                        Trân trọng,<br>
                                        Đội ngũ E_Commerce
                                    </p>
                                    <!-- Callout Panel -->
                                    <!-- social & contact -->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /content -->
            </td>
            <td></td>
        </tr>
    </tbody>
</table>
<!-- /BODY -->
<!-- FOOTER -->
<table style="margin: 0 15px !important; width: 100% !important; clear: both!important; color: #929292;">
    <tbody>
        <tr>
            <td> </td>
            <td style="display: block!important; max-width: 600px!important; margin: 0 auto!important; clear: both!important;">
                <!-- content -->
                <div style="max-width: 600px !important; margin: 0 auto; display: block;">
                    <div style="width: 100% !important; border-top: solid 1px #dddddd;"> </div>
                    <table style="width: 100% !important;">
                        <tbody>
                            <tr>
                                <td align="center">
                                    <p style="color:#929292;padding-top: 5px !important; font-size: 10px !important; font-weight: normal; margin-bottom: 10px !important; line-height: 1.6 !important;"><strong>© 2019-2020 - Bản quyền thuộc về na.com.vn. Tất cả các quyền được bảo lưu. <a target="_blank" href="http://na.com.vn">Điều khoản & Chính sách.</a></strong></p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- /content -->
            </td>
            <td> </td>
        </tr>
    </tbody>
</table>
<!-- /FOOTER -->
